.snakePage{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: black;
}

.snake {
	border-radius: 0.5rem;
	width: 400px;
	height: 400px;
	position: relative;
	background: rgb(9, 0, 26);
	border: 2px solid green;
}

.loosingScreen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(9, 0, 26, 0.8);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	z-index: 10;
}

.loosingCard {
	border: 2px solid green;
	padding: 2rem;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.botonReset {
	padding: 0.4rem 1.2rem;
	border-radius: 0.5rem;
	border: 2px solid green;
	background: transparent;
	color: green;
	transition: transform 0.2s ease;
}

.botonReset:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.headSnake {
	color: green;
	text-align: center;
}

.segmento {
	width: 20px;
	height: 20px;
	position: absolute;
	box-sizing: border-box;

	transition: position 1s linear;
}

.letraSnake {
	color: green;
	text-align: center;
	font-size: 0.8rem;
}

.parrafo {
	color: green;
	text-align: center;
}

.comida {
	width: 20px;
	height: 20px;
	position: absolute;
	background: green;
	border-radius: 4px;
}

.espacioSnake {
	width: 100%;
	height: 100%;
	position: relative;
}
